*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: 500;
}

.pacman::before, .pacman::after{
  position: absolute;
  top: -35px;
  display: block;
  border-radius: 50%;
  content: "";
  height: 0;
  width: 0;
}
.pacman::before{
  animation: chunk-top 0.5s ease infinite;
  border: 35px solid #E9E757;
  border-left-color: transparent;
  border-bottom-color: transparent;
}
.pacman::after{
  animation: chunk-bottom 0.5s ease infinite;
  border: 35px solid #E9E757;
  border-right-color: transparent;
  border-top-color: transparent;
}
.path{
  display: flex;
  animation: eating-path 1s linear infinite;
  width: 70%;
}
.path::before{
  background: #fff;
  border-radius: 50%;
  content: "";
  animation: ;
  height: 1rem;
  width: 1rem;
}
@keyframes chunk-top{
  0%, 100%{
    transform: rotate(-45deg);
  }
  50%{
    transform: rotate(-80deg);
  }
}
@keyframes chunk-bottom{
  0%, 100%{
    transform: rotate(-40deg);
  }
  50%{
    transform: rotate(0deg);
  }
}
@keyframes eating-path{
  0%{
    transform: translatex(50%);
  }
  100%{
    transform: translatex(-50%);
  }
}
